{% extends 'base.html' %}

{% block title %} Orders {% endblock %}
{% block content %}
<div class="container">
  <div class="row">
      {% for product in products %}
      <div class="col-4">
        <div class="card">
          <img src="{{url_for('static',filename='uploads/'+product.imagefile)}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{product.productname}}</h5>
            <p class="card-text">{{product.price}} EGP</p>
            <a href="{{url_for('delete_order',productid=product.productid)}}" class="btn btn-danger">Delete</a>
          </div>
        </div>
      </div>  
      {% endfor %}  
  </div>
</div>    
{% endblock %}